body {
  background-color: #880000;
}
div .card-content p{
  color: black;
}
div .row .card{
  float: left;
  margin: 25px;
  max-height: 700px;
  max-width: 300px;
  /* min-height: 700px;
  min-width: 300px; */
}
